In [58]:
# !pip install --upgrade implicit

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [36]:
data = pd.read_csv('./data/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [37]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

Создадим датафрейм с покупками юзеров на тестовом датасете (последние 3 недели)

In [38]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [39]:
test_users = result.shape[0]
new_test_users = len(set(data_test['user_id']) - set(data_train['user_id']))

print('В тестовом дата сете {} юзеров'.format(test_users))
print('В тестовом дата сете {} новых юзеров'.format(new_test_users))

В тестовом дата сете 2042 юзеров
В тестовом дата сете 0 новых юзеров

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [40]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    items = items_weights['item_id']
    weights = items_weights['weight']
    
    # передаем дополнительно веса
    recs = np.random.choice(items, size=n, replace=False, p=weights)
    
    return recs.tolist()

In [49]:
# получить n самых популярных по сумме покупок товаров
def get_popular_by_svalue(data_in, n_popular=0):
    popular = data_in.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    if n_popular > 0:
        popular = popular[:n_popular]
    return popular

# подготовим веса по объему продаж
def get_weighted_polpular(data_in, n_popular=0):
    
    popular = get_popular_by_svalue(data_in,n_popular=n_popular)

    # посолим и прологарифмируем
    popular['weight'] = popular['sales_value'].apply(lambda x: np.log(x+1e-5))
    # приведем мин в 0 (сделаем неотрицательными)
    popular['weight'] = popular['weight'] - popular['weight'].min()  

    log_sum = popular['weight'].sum()
    # найдем веса
    popular['weight'] = popular['weight']/log_sum

    weighted_popular = popular[['item_id', 'weight']].copy()
    print(weighted_popular['weight'].sum())
    return weighted_popular

In [50]:
w_popular = get_weighted_polpular(data_train)

1.0

**тест взвешенных рекомендаций**

In [51]:
%%time

result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(w_popular, n=5))
result.head(5)

CPU times: user 4.4 s, sys: 3.05 ms, total: 4.41 s
Wall time: 4.4 s

,user_id,actual,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1740284, 911886, 36249, 1788520, 6410464]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[899485, 999212, 822181, 15801076, 904959]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[2537417, 42465, 947287, 13038798, 16734651]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[1075757, 2811305, 1057483, 819827, 8249164]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[883917, 2544393, 864951, 1228253, 1075142]"

### Задание 2. Расчет метрик
Рассчитайте Precision@5 для каждого алгоритма с помощью функции из вебинара 1. Какой алгоритм показывает лучшее качество?

In [44]:
pred_basic = pd.read_csv('./data/predictions_basic.csv')
pred_basic.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[5586238, 1015228, 866118, 2416733, 2603573]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 1127831, 1098066, 826249, 878996]","[981760, 1127831, 1098066, 878996, 826249]","[981760, 1127831, 1098066, 826249, 878996]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[161354, 63027, 1027802, 12263694, 307395]","[6534178, 6533889, 1029743, 6534166, 1082185]","[981760, 995242, 1029743, 840361, 961554]","[981760, 1004906, 961554, 1096036, 1080414]","[981760, 1004906, 859075, 1096036, 961554]","[999999, 1082185, 1098066, 6534178, 1127831]"

**Precision@5**

In [45]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    def _str_to_list(in_str):
        return in_str[1:-1].split(',')

    if type(recommended_list) is type('str'):
        recommended_list = _str_to_list(recommended_list)
        
    if type(bought_list) is type('str'):
        bought_list = _str_to_list(bought_list)

    # непосредственно расчет    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    return precision

**функция тестирование датасета**

In [46]:
def test_prediction_at_k(data_pr, actual_idx=1, start_idx=2):
    actual_col = data_pr.columns[actual_idx]
    recomend_algo_cols = data_pr.columns[start_idx:]

    algos_means = []
    for algo in recomend_algo_cols:
        algo_mean = data_pr.apply(lambda row: precision_at_k(row[algo], row[actual_col]), axis=1).mean()
        algos_means.append(algo_mean)
        print(f'Алгоритм: {algo}, mean = {algo_mean}')

    max_idx = np.asarray(algos_means).argmax()
    print()
    print(f'Максимальный результат у {recomend_algo_cols[max_idx]} = {algos_means[max_idx]}')

In [47]:
%%time
# тестирование предоставленного датасета
test_prediction_at_k(pred_basic)

Алгоритм: random_recommendation, mean = 0.0
Алгоритм: popular_recommendation, mean = 0.0010773751224289912
Алгоритм: itemitem, mean = 0.0
Алгоритм: cosine, mean = 0.0
Алгоритм: tfidf, mean = 0.0
Алгоритм: own_purchases, mean = 0.0

Максимальный результат у popular_recommendation = 0.0010773751224289912
CPU times: user 2.81 s, sys: 134 ms, total: 2.94 s
Wall time: 2.71 s

### Задание 3*. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая их на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

### Беизлайны

In [59]:
#освежим результаты
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [60]:
# возьмем 5000 самых популярных товаров
popular = get_popular_by_svalue(data_train, n_popular=5000)
popular.head()

       item_id  sales_value
55470  6534178    447799.94
55430  6533889     40483.34
28895  1029743     35764.66
55465  6534166     30170.77
34707  1082185     26029.96

### 1.1 Random recommendation

In [61]:
def random_recommendation(items, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [62]:
%%time

items = popular.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

CPU times: user 489 ms, sys: 3.76 ms, total: 492 ms
Wall time: 490 ms

,user_id,actual,random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1127179, 1111080, 14106445, 1131607, 927360]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[945909, 971507, 9835223, 982755, 1124695]"

### 1.2 Popularity-based recommendation

In [63]:
def popularity_recommendation(data, n=5):
    """Топ-n популярных товаров"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

In [64]:
%%time

# Можно так делать, так как рекомендация не зависит от юзера
popular_recs = popularity_recommendation(popular, n=5)

result['popular_recommendation'] = result['user_id'].apply(lambda x: popular_recs)
result.head(2)

CPU times: user 19.5 ms, sys: 0 ns, total: 19.5 ms
Wall time: 21.9 ms

,user_id,actual,random_recommendation,popular_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1127179, 1111080, 14106445, 1131607, 927360]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[945909, 971507, 9835223, 982755, 1124695]","[6534178, 6533889, 1029743, 6534166, 1082185]"

### 1.3 Weighted random recommender

In [65]:
w_popular = get_weighted_polpular(popular)

1.0

In [66]:
%%time
result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(w_popular, n=5))
result.head(2)

CPU times: user 829 ms, sys: 0 ns, total: 829 ms
Wall time: 826 ms

,user_id,actual,random_recommendation,popular_recommendation,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1127179, 1111080, 14106445, 1131607, 927360]","[6534178, 6533889, 1029743, 6534166, 1082185]","[1085476, 6513810, 1134483, 935959, 1054262]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[945909, 971507, 9835223, 982755, 1124695]","[6534178, 6533889, 1029743, 6534166, 1082185]","[895652, 939900, 1127328, 1020581, 8119157]"

In [ ]:
%%time
# тестирование предоставленного датасета
test_prediction_at_k(pred_basic)